.calculator {
	width: 300px;
	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
	margin: 50px auto;
	padding: 10px;
	font-size: 18px;
}
.display {
	margin-bottom: 10px;
}
.display input[type=text] {
	width: 100%;
	padding: 10px;
	font-size: 24px;
	border: none;
	background-color: #f5f5f5;
	text-align: right;
	box-shadow: 0px 0px 5px #ccc;
}
.button-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
button {
	width: 70px;
	height: 70px;
	background-color: #fff;
	color: #444;
	border-radius: 5px;
	border: none;
	font-size: 24px;
	box-shadow: 0px 0px 5px #ccc;
	cursor: pointer;
}
.operator {
	background-color: #ccc;
	color: #ddd;
	font-weight: bold;
}
button:hover {
	background-color: #f2f2f2;
}